
<div style="float: right; padding-top: {% if page.ad_top %}{{ page.ad_top }}{% else %}50%{% endif %}">  
<script type='text/javascript'>
 amzn_assoc_ad_type = 'banner';
 amzn_assoc_tracking_id = '{{ site.azntag }}';
 amzn_assoc_marketplace = 'amazon';
 amzn_assoc_region = 'US';
 amzn_assoc_placement = 'assoc_banner_placement_default';
 amzn_assoc_linkid = 'HMKFSPRREGOBWW5W';
 amzn_assoc_campaigns = 'fourthofjuly';
 amzn_assoc_p = '29';
 amzn_assoc_banner_type = 'category';
 amzn_assoc_isresponsive = 'false';
 amzn_assoc_banner_id = '0F8S9NFJDHKSC52P9982';
 amzn_assoc_width = '120';
 amzn_assoc_height = '600';
</script>
<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>
