
<div style="float: right; padding-top: {% if page.ad_top %}{{ page.ad_top }}{% else %}50%{% endif %}; padding-left: 1em;">  
	<!--
	<script type='text/javascript'>
	 amzn_assoc_ad_type = 'banner';
	 amzn_assoc_marketplace = 'amazon';
	 amzn_assoc_region = 'US';
	 amzn_assoc_placement = 'assoc_banner_placement_default';
	 amzn_assoc_linkid = 'CAD4M6XHDQQ3IXJR';
	 amzn_assoc_campaigns = 'mostwishforitem';
	 amzn_assoc_p = '14';
	 amzn_assoc_banner_type = 'category';
	 amzn_assoc_isresponsive = 'false';
	 amzn_assoc_banner_id = '168A4WN4A9CF8Z4R3V82';
	 amzn_assoc_width = '160';
	 amzn_assoc_height = '600';
	 amzn_assoc_tracking_id = '{{ site.azntag }}';
	</script>
	<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
	-->
	<a href="http://www.amazon.com/s/ref=nb_sb_noss_1?field-keywords=Old+Classic+Toys&rh=n%3A165793011%2Ck%3AOld+Classic+Toys&tag={{ site.azn_tag }}" target="_blank">
		<img src="/assets/bonus/classic_phone.png" border="0" width="90%" />
	</a>
</div>
