<html>
	<head>
		<title>dankuck</title>
		<style>
		a{
			color: white;
		}
			h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
				text-decoration: none;
			}
		body{
			margin: 0; 
			padding: 0; 
			background-color: #222; 
			font-family: arial; 
			color: white;
		}
		.major-content{
			padding: 1em; 
			background-color: #888; 
			min-height: 30em; 
			border-bottom: 1px solid black; 
			border-right: 1px solid black;
		}
		.page-width-limiter{
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}
		</style>
	</head>
	<body>
		<div style="margin-top: 1em; margin-bottom: 1em;" class="page-width-limiter">
			<h2>
				<a href="/"><img src="http://www.gravatar.com/avatar/3b55d9d2629003d8f6d3365c4ea79122?s=30" border="0" /></a> <a href="/">dankuck</a>
			</h2>
			<div class="major-content">
				