
<div style="padding-bottom: 2em;">
    <h1><a href="{{ site.url }}{{ post.url }}" title="{{ post.title | xml_escape }}">{{ post.title }}</a></h1>

    {% if post.draft %}
        <div><small>DRAFT</small></div>
    {% endif %}

    {% if post.page_img_thumb %}
        {% assign page_img = post.page_img_thumb %}
    {% elsif post.page_img %}
        {% assign page_img = post.page_img %}
    {% else %}
        {% assign page_img = 0 %}
    {% endif %}

    {% if page_img != 0 %}
    <div style="float: left; margin: 0 2em 1em 0;">
        <a href="{{ post.url }}"><img src="{{ page_img }}" style="max-width: 150px; max-height: 150px;" /></a>
    </div>
    {% endif %}

    {% include short_content.html content=post.content %}
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title | xml_escape }}" class="more-link">Continue</a>
</div>
<div style="font-size: 80%; padding-bottom: 5em; clear: both;">
    <a href="/contact/dankuck.html"><img src="https://www.gravatar.com/avatar/3b55d9d2629003d8f6d3365c4ea79122?s=16" border="0" style="border-radius: 50%" /></a></a> <a href="/contact/dankuck.html">dankuck</a>
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title | xml_escape }}">{{ post.date | date: '%B %d, %Y' }}</a>
</div>
