
<h1>{{ page.title }}</h1>

	{% if page.draft %}
	<div>
		DRAFT
	</div>
	{% endif %}

     <div class="stats">
     	<a href="{{ page.url }}">Permalink</a> {{ page.date }} <a href="/contact/dankuck.html"><img src="http://www.gravatar.com/avatar/3b55d9d2629003d8f6d3365c4ea79122?s=16" border="0" /></a> <a href="/contact/dankuck.html">dankuck</a>
     </div>
     
     <div>
	{% if page.previous and not page.previous.draft %}
		<div style="float: right">
			<a href="{{ page.previous.url }}">{{ page.previous.title }} &rarr;</a>
		</div>
		<script type="text/javascript">
		window.go_previous_page = function(){
			location = "{{ page.previous.url }}";
		};
		</script>
	{% endif %}
	
	{% if page.next %}
		<div style="float: left;">
			<a href="{{ page.next.url }}">&larr; {{ page.next.title }}</a>
		</div>
		<script type="text/javascript">
		window.go_next_page = function(){
			location = "{{ page.next.url }}";
		};
		</script>
	{% endif %}
	</div>
	
	<div style="clear: both"></div>

	{% if page.no_ad %}
	{% else %}
	{% include ad.html %}
	{% endif %}

	{% if page.page_img %}
	<div style="float: left; margin: 1em 2em 2em 0;">
		{% if page.page_img_url %}
			<a href="{{ page.page_img_url }}" target="{{ page.page_img_url_target }}">
		{% endif %}
		<img src="{{ page.page_img }}" class="page-img" />
		{% if page.page_img_url %}
			</a>
		{% endif %}
		{% if page.page_img_desc %}
			<br />
			{{ page.page_img_desc }}
		{% endif %}
	</div>
	{% endif %}

	<div class="post-content">
		