<h3>{{ page.title }}</h3>

     <div style="font-size: 80%; margin-bottom: 2em;border: 1px solid #CCC; padding: .5em;">
     	<a href="{{ page.url }}">Permalink</a> {{ page.date }} <img src="http://www.gravatar.com/avatar/3b55d9d2629003d8f6d3365c4ea79122?s=16" border="0" /> dankuck
     </div>
     
     <div>
	{% if page.next %}
		<a href="{{ page.next.url }}">{{ page.next.title }} &rarrow;</a>
	{% endif %}
	
	{% if page.previous %}
		<a href="{{ page.previous.url }}">&larrow; {{ page.previous.title }}</a>
	{% endif %}
	</div>
