<div class="series-explain">

    Truman's Map is a rationalist fic based on the 1998 film The Truman Show and The Sequences found at <a href="https://lesswrong.com">lesswrong.com</a>. It is based on characters owned by Scott Rudin Productions.

    <h3>Truman's Map</h3>

    {% assign truman = site.tags.truman | reverse %}
    {% for post in truman %}
        {% if post.draft %}
            <!-- skipped a draft -->
        {% else %}
            <p><a href="{{ post.url }}">{{ post.truman_title }}</a> - {{ post.truman_description }}.</p>
        {% endif %}
    {% endfor %}

    Follow to get updates on <a href="https://archiveofourown.org/works/23705065/chapters/56917558">Archive of Our Own</a>, <a href="https://www.fanfiction.net/s/13556120/1/Truman-s-Map-1-The-Discrete-Conspiracy">Fanfiction.net</a>, or <a href="http://feeds.feedburner.com/TrumansMap">RSS Feed</a>.
</div>
