<div class="series-explain">
	<p>
	Since almost the time she was born, my kid never liked washing her hair. She really feared and hated it and we tried 
	everything we could read on the 
	Internet to get her over that.
	</p>
	
	<p>
	Nothing worked until I tried these two things at once when she was almost three:
	</p>
	
	<p>
	(1) I let her decide whether to wash her hair every night. I waited something like 10 days and then had to wash it.
	After that I was prepared to wait another 10 days, but I didn't have to. 
	It's not so bad, kid hair doesn't get greasy like gross dad hair. This strategy was recommended by someone
	on the Internet.
	</p>
	
	<p>
	(2) I told her a series of very short stories I made up on the spot about a girl named Tabitha who had very dirty
	hair because she never washed it. These stories could be at bath time or any other time. Driving, playing, whenever,
	so as not to emphasize and be too preachy at a time when she might be feeling subconcious. They were in the form 
	of stories and I presented them like any other story she might ask me to tell.
	</p>
	
	<p>
	I don't recall how long it took, and I don't know which part of this was most effective. But something about this
	strategy worked and she stopped complaining about washing hair.
	</p>
	
	<p>
	At some point I also introduced a dry towel she could use to cover her face while I wet her hair. That made a big 
	difference, too.
	</p>
	
	<p>
	After some months, she is so unfearful of washing hair that we can do it the easy way: Just put your head back and
	I'll get the hair wet. I carefully avoid her face and her ears. If they get wet, instead of crying in fear, now she
	cries in anger and I give her a towel and everything's fine.
	</p>
	
	<p>
	She still requests the stories sometimes, so I suspect they had a big impact.
	</p>
	
</div>
