<html>
	<head>
		<title>dankuck</title>
	</head>
	<body style="margin: 0; padding: 0; background-color: #222; font-family: arial; color: white;">
		<div style="margin: 1em;">
			<h2>
				<img src="http://www.gravatar.com/avatar/d0c8da0ed3ebaf0301529f7dabc03833?s=30" /> dankuck
			</h2>
			<div style="padding: 1em; background-color: #888; min-height: 30em; border-bottom: 1px solid black; border-right: 1px solid black;">
			{{content}}
			</div>
		</div>
		<div style="width: 100%; background-color: #444;">
			<div style="margin: 0 1em;">
			&copy; 2014, Daniel Kuck
			</div>
		</div>
	</body>
</html>
	